<div class="container">
<h3 class="fontpad">Lectures</h3>

<% @lectures.each do |lecture| %>
    <% url_lec = (lecture.id)%>
    <% @topics = lecture.topics.order('number ASC') %>
    <div class="lecture-panel">
          <%=  link_to "#{lecture.chapter}. #{lecture.subject}<span class='badge pull-right' style='margin-top: 7px;'> #{@topics.count} </span>".html_safe,
          "#topics-for-#{url_lec}", class: "topic-link", data: { toggle: "collapse" } %>
    </div>
    <div class="topic-group collapse" id='topics-for-<%= "#{url_lec}" %>'>
          <%  @topics.each do |topic| %>
                <div class="topic-panel">
                      <% url_top = (topic.id)%>
                      <% @streams = topic.streams.order('timestamp DESC, capture_date DESC') %>
                      <% if user_signed_in? && current_user.role == "instructor"%>
                          <div class="pull-right">
                              <ul class="nav navbar-nav">
                                <li>
                                  <table><tr>
                                    <td><%= link_to image_tag("#{ asset_path 'create_broadcast.png'}", width: "38px", :border => 0, :alt => '', :title => ''), new_topic_stream_path(topic), {:style=>"padding-right: 14px;"} %></td>
                                    <td><span class='badge'><%= "#{@streams.count}" %> </span></td>
                                  </tr></table>
                                </li>
                              </ul>
                          </div>
                          <%=  link_to "#{topic.number} - #{topic.title}".html_safe,
                          "#streams-for-#{url_top}", class: "topic-link", data: { toggle: "collapse" } %>
                      <% else %>
                          <%=  link_to "#{topic.number} - #{topic.title}<span class='badge pull-right' style='margin-top: 7px;'> #{@streams.count} </span>".html_safe,
                                "#streams-for-#{url_top}", class: "topic-link", data: { toggle: "collapse" } %>
                      <% end %>
                </div>
                <div class="topic-group collapse" id='streams-for-<%= "#{url_top}" %>'>
                      <%  @streams.each do |stream| %>
                            <div class="stream-panel">
                              <span>
                                  <%= link_to "#{stream.timestamp} - #{stream.description}".html_safe, topic_stream_path(topic, stream) %>
                              </span>
                            </div>
                      <% end %>
                </div>
          <% end %>
    </div>
<% end %>
</div>
