{
    "title": {
        "media": {
          "url": "https://www.youtube.com/watch?v=<%= @broadcast_id %>",
          "caption": "a ShutUp & Code! production",
          "credit": "<a href='https://tams4dummies.com:3001'>tam4dummies.com</a>",
          "thumbnail": "<%= asset_path 'patambig.png' %>"
        },
        "text": {
          "headline": "<%= @headline %>",
          "text": "<p><%= @description %></p>"
        }
    },
    "events": [
<% @dummits.each_with_index do |dummit, index| %>
    <% titlew = dummit.title.split(":") %>
    <% hour   = titlew[0] %>
    <% minute = titlew[1] %>
    <% second = titlew[2] %>
      {
        "media": {
          "url": "https://www.youtube.com/watch?v=<%= @broadcast_id %>&t=<%= hour %>h<%= minute %>m<%= second %>s",
          "caption": "",
          "credit": "<a href='https://www.youtube.com/tv#/watch?v=<%= @broadcast_id %>&t=<%= hour %>h<%= minute %>m<%= second %>s'>watch in fullscreen</a>"
        },
        "start_date": {
          "hour": "<%= hour %>",
          "minute": "<%= minute %>",
          "second": "<%= second %>"
        },
        "text": {
          "headline": "dumm-it at <%= dummit.title %> from start",
          "text": "<p><%= dummit.body.html_safe %></p>"
        }
  <% if index == @dummits.size - 1 %>
     }
  <% else %>
     },
  <% end %>
<% end %>
   ]
}
