{
    "title": {
        "media": {
          "url": "<%= asset_path 'tameline.png' %>",
          "caption": "a ShutUp & Code! production",
          "credit": "<a href='https://tams4dummies.com:3001'>tam4dummies.com</a>"
        },
        "text": {
          "headline": "T<font size='6'><b><span style='text-transform: lowercase;'>he&nbsp;</span></b></font>TAM<font size='6'><b><span style='text-transform: lowercase;'>eline</span></b></font>",
          "text": "<p>This is a compilation of TAM's awsome lectures from CodeCore Bootcamp. No more stress trying to catchup and copy the <span style='font-style: italic;'>machine-gun's</span> coding... just select a lecture by Subject / Topic or Date and watch everything on your own style and pace. Have fun!</p>"
        }
    },
    "events": [
<% @streams.each_with_index do |stream, index| %>
    <% lecture = Lecture.find stream.lecture_id %>
    <% topic = Topic.find stream.topic_id %>
      {
        "media": {
          "url": "https://youtu.be/<%= stream.broadcast_id %>",
          "caption": "",
          "credit": "<a href='http://www.youtube.com/embed/<%= stream.broadcast_id %>?rel=0'>watch in fullscreen</a>"
        },
        "start_date": {
          "month": "<%= stream.timestamp[5,2]  %>",
          "day": "<%= stream.timestamp[8,2]  %>",
          "year": "<%= stream.timestamp[0,4]  %>"
        },
        "text": {
          "headline": "<%= lecture.chapter %>.<%= topic.number %> <%= lecture.subject %> / <%= topic.title %>",
          "text": "<p><%= stream.description %></p>"
        }
   <% if index == @streams.size - 1 %>
      }
   <% else %>
      },
   <% end %>
<% end %>
    ]
}
